<select (change)="onChange($event.target.value)">
  <option value="All Levels">Filter by skill level</option>
  <option value="Beginner">Beginner</option>
  <option value="Intermediate">Intermediate</option>
  <option value="Expert">Expert</option>
</select>

<div class="players">
  <div class="player" *ngFor="let player of players | async | skillLevel:filterBySkillLevel">
    <div class="player-info">
      <div *ngIf="currentRoute === '/admin'">
      <app-edit-players [selectedPlayer]="player"></app-edit-players>
    </div>
      <span class="player-info-name">{{player.name}}</span>
      <span class="player-info-skillLevel">{{player.skillLevel}} level player</span>
      <span class="player-info-location">{{player.location}}</span>
      <a class="player-info-link" (click)="goToPlayerPage(player)">More Info</a>
      <div class="player-info-formats">
        <span class="format" *ngFor="let format of player.formats">
          {{format}}
        </span>
      </div>
    </div>
    <img class="player-image" src="{{player.image}}" alt=" {{player.name}}" (click)="goToPlayerPage(player)">
  </div>
</div>
