<div class="players">
  <div class="player" *ngFor="let player of players">
    <div class="player-info">
      <span class="player-info-name">{{player.name}}</span>
      <span class="player-info-skillLevel">{{player.skillLevel}} level player</span>
      <a class="player-info-link" href="#">More Info</a>
      <div class="player-info-formats">
        <span class="format" *ngFor="let format of player.formats">
          {{format}}
        </span>
      </div>
    </div>
    <img class="player-image" src="{{player.image}}" alt=" {{player.name}}">
  </div>
</div>
